# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Local virtual environments
sloshing/
.venv/
venv/

# macOS
.DS_Store

# OpenFOAM generated cases/results
case_*/
!case_*/
case_*/**
!case_*/slurm/
!case_*/slurm/*.out
!case_*/slurm/*.err
!case_*/slurm/*.log
!case_*/slurm/*.slurm
# Result files to track
!**/*.mp4
!**/*.csv
!**/postProcessing/
!**/postProcessing/**.vtp
# Except standard large FOAM results
*.foam
processor*/
0/
[1-9]*/
constant/polyMesh/
# Ignore raw OpenFOAM postProcessing fields (usually large/redundant)
**/postProcessing/probes/
**/postProcessing/cuttingPlane/
**/postProcessing/forceCoeffs/
**/postProcessing/forces/
**/postProcessing/nearWallFields/
**/postProcessing/surfaceFieldValue/

# Mesh/geometry artifacts
*.msh
*.geo

# Slurm
